@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}
html{
  background-color: #E2E8F0;
}

*{
  /* border:1px solid black; */
}

/* preloder css */
.preloader {
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

.ring {
  width: 200px;
  height: 200px;
  border: 0px solid #000;
  border-radius: 50%;
  position: absolute;
}

.ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: white;
  animation: rotate1 1s linear infinite;
  -webkit-animation: rotate1 1s linear infinite;
}

.ring:nth-child(2) {
  border-right-width: 8px;
  border-color:white;
  animation: rotate2 1s linear infinite;
  -webkit-animation: rotate2 1s linear infinite;
}

.ring:nth-child(3) {
  border-top-width: 8px;
  border-color:white;
  animation: rotate3 1s linear infinite;
  -webkit-animation: rotate3 1s linear infinite;
}

.loading {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes rotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}